/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption|Raleway|Ubuntu');

 $navbar-bg-color: #eda36d;
 $navbar-color-hvr: #0a0a0a;
 $navbar-welcome: #063238;

 $flash-message: #ef4343;

 $accent-color: #333;

 $link-color: #117f8e;

 $bg-color: #f3dccc;

 $record-color: #f3dccc;
 $record-bg: #117f8e;
 $record-border: #5F1A1A;
 $record-accent: #aa9a8e;

 $edit-btn: #E67E32;
 $delete-btn: #ef4343;

 body {
   background-color: $bg-color;
 }

 a {
   color: $link-color;
 }

 hr {
   border-color: $accent-color;
 }

 #home-title {
   font-size: 30px;
   font-weight: bold;
   display: flex;
   justify-content: center;
 }

 .home-records {
   margin-top: 10px;
   display: flex;
   flex-wrap: wrap;
   padding: 0px 100px;
   justify-content: center;
   a {
     flex-basis: 30%;
     text-decoration: none;
     transition: 0.2s ease-in-out;
   }
   .home-record {
     transform: scale(0.9);
     text-align: center;
     color: $accent-color;
     border: 5px double $accent-color;
     border-radius: 25px;
     box-shadow: 1px 1px 3px rgba($accent-color, 0.3);
     height: 200px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding: 8px;
     margin: 10px 10px;
     transition: 0.2s ease-in-out;
     &:hover {
       transform: scale(1);
       background-color: rgba($link-color, 0.01);
       color: $link-color;
       border-color: $link-color;
       cursor: pointer;
     }
   }
 }

 .content {
   background-color: rgba($accent-color, 0.2);
   border: 1px solid rgba($accent-color, 0.5);
   box-shadow: 1px 1px 3px rgba($accent-color, 0.8);
   padding: 10px;
   margin: 10px 10%;
 }

.my-nav {
 background-color: $navbar-bg-color;
 display: flex;
 align-items: center;
 // border-bottom: solid 1px $accent-color;
 box-shadow: 0px 2px 2px grey;
 width: 100%;
 height: 70px;
 .container {
   display: flex;
   justify-content: flex-end;
   .navbar-user {
     color: $navbar-welcome;
     padding: 7px;
     font-size: 15px;
     align-self: center;
   }
   .navbar-avatar {
     align-self: center;
     height: 50px;
     width: 50px;
     img {
       border: 1px solid $accent-color;
       border-radius: 100%;
       width: 100%;
     }
   }
   .navbar-item {
     font-size: 15px;
     padding: 7px;
     align-self: center;
     a {
       color: $accent-color;
       text-decoration: none;
       display: inline-block;
       transition: all .3s ease-in-out;
       &:hover {
         transform: scale(1.2);
         // color: $navbar-color-hvr;
         color: $link-color;
         letter-spacing: 1px;
       }
     }
   }
   .navbar-title {
     font-size: 30px;
     align-self: center;
     margin-right: auto;
     font-family: 'PT Sans Caption', sans-serif;
     a {
       display: inline-block;
       color: $accent-color;
       text-decoration: none;
       transition: all .3s ease-in-out;
       &:hover {
         transform: scale(1.2);
         color: $link-color;
         letter-spacing: 1px;
       }
     }
   }
   .navbar-flash {
     color: $flash-message;
     font-size: 15px;
     align-self: center;
     padding: 7px;
   }
 }
}

.records {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  small {
    color: $record-accent;
  }
  a {
    color: $accent-color;
    text-decoration: none;
    flex-basis: 23%;
    margin: 10px;
  }
  .record {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    padding: 7px;
    color: $record-color;
    background-color: $record-bg;
    border: 1px solid $record-border;
    border-radius: 5px;
  }
}

.button {
  padding: 7px;
  border: 2px solid $accent-color;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
  &:hover {
    cursor: pointer;
    border-color: $link-color;
    a {
      color: $link-color;
    }
  }
  a {
    color: $accent-color;
    font-weight: bold;
    text-decoration: none;
    transition: 0.2s ease-in-out;
  }
}

.delete-btn {
  padding: 7px;
  border: 2px solid $delete-btn;
  background-color: rgba($delete-btn, 0.2);
  border-radius: 5px;
  transition: 0.2s ease-in-out;
  &:hover {
    cursor: pointer;
    border-color: $link-color;
    a {
      color: $link-color;
    }
  }
  a {
    color: $delete-btn;
    font-weight: bold;
    text-decoration: none;
    transition: 0.2s ease-in-out;
  }
}

.edit-btn {
  padding: 7px;
  border: 2px solid $edit-btn;
  background-color: rgba($edit-btn, 0.2);
  border-radius: 5px;
  transition: 0.2s ease-in-out;
  &:hover {
    background-color: rgba($link-color, 0.2);
    cursor: pointer;
    border-color: $link-color;
    a {
      color: $link-color;
    }
  }
  a {
    color: $edit-btn;
    font-weight: bold;
    text-decoration: none;
    transition: 0.2s ease-in-out;
  }
}

.edit-review {
  transition: 0.2s ease-in-out;
  &:hover {
    cursor: pointer;
    a {
      color: $link-color;
    }
  }
  a {
    color: $edit-btn;
    font-weight: bold;
    text-decoration: none;
    transition: 0.2s ease-in-out;
  }
}


.review-title {
  display: flex;
  align-items: center;
  .button {
    margin-left: auto;
  }
}

.reviews {
  .rating {
    color: $accent-color;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba($accent-color, 0.3);
  }
  .review {
    margin: 10px 0px 10px 0px;
    padding: 10px;
    border: 1px solid blue;
  }
}
